body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("img/hair1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  margin-left: -40px;
  height: 400px;
  width: 400px;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

@media (max-width: 667px) {
}

.grid-3 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  color: #c0c0c0;
}

.grid-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.left {
  margin-left: 30px;
}

.about {
  padding-bottom: 40px;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}
/* Section de selection */
/* Style the tab content */
.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change color of buttons on hover */
.about button:hover {
  color: rgb(187, 158, 158);
}

/* Create an active/current tablink class */
.about button.active {
  color: rgb(187, 158, 158);
  border-bottom-style: solid;
  border-color: black;
}

.tablinks {
  margin-bottom: -50px;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Carte de profil */
.profile_card {
  height: 500px;
  width: 300px;
  background-color: #fff5ee;
  overflow: hidden;
  margin-bottom: 20px;
}


.card {
  height: 350px;
  width: 300px;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 100%);
}

.emp1 {
  background: url(img/profil_marie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.emp2 {
  background: url(img/marieclaude.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.emp3 {
  background: url(img/gabrielle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}



.profile_card h3,
.profile_card p {
  margin-left: 10px;
  margin-top: 10px;
  color: black;
  letter-spacing: 1px;
}

.profile_card ul {
  list-style: none;
  display: flex;
  color: black;
  margin-left: 75px;
  padding-top: 5px;
}

ul li {
  padding-left: 10px;
  font-size: 18px;
  transition: 1s;
}

/* Prix */
#cash .grid-2 {
  background-color: #fff5ee;
}

h4 {
  text-decoration-line: underline;
}
h4:after {
  content: "\00a0\00a0\00a0\00a0\00a0
  \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0
  \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0
  \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
}

.left p {
  font-size: 11px;
  color: #330;
}

/* Scheduled */
.scheduled {
  background-image: url("img/scheduledCover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scheduled {
  color: #fff;
}

.scheduled i {
  font-size: 30px;
}
.scheduled p {
  font-size: 12px;
}
.jour {
  margin-left: 20px;
}

.contact .fas {
  margin-top: 90px;
}

.contact p {
  text-decoration: none;
}

/* Footer */
footer {
  padding: 2.2rem;
}

footer p {
  margin: 0;
}
.social_icon:hover {
  cursor: pointer;
  color: white;
}

@media (min-width: 801px) {
  .showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  .showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
}

@media (min-width: 1024px) {
  .scheduled p {
    font-size: 18px;
  }
}

/* Small Screens */
@media (max-width: 800px) {
  .showcase::after {
    height: 70vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }

  .content .logo {
    margin-left: -20px;
    height: 340px;
    width: 340px;
  }

  .content .text {
    display: none;
  }

  .title p {
    font-size: 30px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .grid-2 .fas {
    font-size: 50px;
  }

  .tablinks {
    margin-bottom: -65px;
  }
  .left p {
    font-size: 9px;
  }
  .left {
    margin-left: 3px;
  }
  .left h5 {
    font-size: 10px;
  }
  .services div:nth-child(-n + 2) {
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
  }

  ul li {
    padding-left: 25px;
    font-size: 15px;
  }

  .profile_card {
    height: 550px;
    width: 350px;
  }

  .card {
    height: 400px;
    width: 350px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  }

  .scheduled i {
    font-size: 25px;
  }
  .scheduled p {
    font-size: 10px;
  }
  .contact .fas {
    margin-top: 100px;
    font-size: 15px;
  }
  .contact p {
    font-size: 10px;
  }
}
/* iPhone <= 6, SE */
@media (max-height: 700px) {
  .content {
    top: 5%;
  }
  .title p {
    margin-top: -60px;
    font-size: 23px;
  }
  .left p {
    font-size: 8px;
  }
  .left {
    margin-left: 3px;
  }
  .left h5 {
    font-size: 10px;
  }
  .container {
    /* width: 100%; */
  }
  .grid-2 h3 {
    font-size: 13px;
  }
  .grid-2 .fas {
    font-size: 30px;
  }

  .profile_card {
    height: 450px;
    width: 250px;
    margin-bottom: 20px;
  }

  .card {
    height: 300px;
    width: 250px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  ul li {
    font-size: 10px;
    letter-spacing: 2px;
    margin-right: -55px;
  }
  .scheduled i {
    font-size: 20px;
  }
  .scheduled p {
    font-size: 7px;
  }
  .contact .fas {
    margin-top: 70px;
    font-size: 10px;
  }
  .contact p {
    font-size: 8px;
  }
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}
